<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exercício</title>
    </head>
    <body>
        <form action="/" method="post" id="formulario">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" required autocomplete="off" id="nome"> <br><br>
            <labe for="cpf">CPF:</labe>
            <input type="text" name="cpf" required autocomplete="off" id="cpf"> <br><br>
            <button>Criar</button>
            <button formaction="/cliente" formmethod="post">Procurar</button>
        </form>
    </body>
</html>